{% extends "base_generic.html" %}

{% comment %} 
/* # ====================================
# COMP90024 Cluster and Cloud Computing - Assignment 2
# Group 29
# Hongwei Yin 901012
# Cheng Sun 900806
# Xinyi Xu 900966
# Yiran Yao 1144268
# Xiaotao Tan 1032950
# ====================================
 */
 {% endcomment %}

{% block main%}

{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'frontend/css/home_page.css' %}">
</head>

    <div style="background-color:rgb(25, 27, 33);">


    <div style="height: 30px"></div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
           <div style="height: 70px"></div>
            <h1 style="font-size:100px;color:white;" > Scott Morrison</h1>
            <svg height="30" width="1000">
                <line x1="0" y1="30" x2="400" y2="30" style="stroke:rgb(255,255,255);stroke-width:20" />
            </svg>
            <div style="height: 20px"></div>
            <h1 style="font-size:50px;color:white;" > A Sentiment Analysis on</h1>
            <h1 style="font-size:50px;color:white;" > Twitter Content</h1>

            <div style="height: 80px"></div>
            <a href="/map/"><button type="button" class="btn btn-outline-danger">Track Approval Rate</button></a>


        </div>
        <div class="col-sm-5">
            <div style="height: 50px"></div>
            {% load static %}
            <img src="{% static 'frontend/images/test2.svg' %}" width="500" height="500"/>


        </div>

    </div>

    

<h1 class="divider" style="font-size:50px;color:white;" > Here are our Group members:</h1>

<div class="member">
<div class="row">
  <div class="column">
    <div class="card text-white bg-dark mb-3">
      <img src="{% static 'frontend/images/gus.jpg' %}" alt="Hongwei Yin" style="width:100%">
      <div class="container">
        <h3>Hongwei Yin</h3>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card text-white bg-dark mb-3">
      <img src="{% static 'frontend/images/katie.jpg' %}" alt="Xinyi Xu" style="width:100%">
      <div class="container">
        <h3>Xinyi Xu</h3>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card text-white bg-dark mb-3">
      <img src="{% static 'frontend/images/scott.jpeg' %}" alt="Cheng Sun" style="width:100%">
      <div class="container">
        <h3>Cheng Sun</h3>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card text-white bg-dark mb-3">
      <img src="{% static 'frontend/images/lexie.png' %}" alt="Yiran Yao" style="width:100%">
      <div class="container">
        <h3>Yiran Yao</h3>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card text-white bg-dark mb-3">
      <img src="{% static 'frontend/images/eddie.jpeg' %}" alt="Xiaotao Tan" style="width:100%">
      <div class="container">
        <h3>Xiaotao Tan</h3>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}