

{% block main%}
 {% load static %}
  <link rel="stylesheet" href="{% static 'frontend/css/map_page.css' %}">
  <body>
  <div id="controls" class="nicebox">
    <div>
      <select id="census-variable">
        <option value="https://storage.googleapis.com/mapsdevsite/json/DP02_0066PE">Percent of population over 25 that
          completed high
          school</option>
        <option value="https://storage.googleapis.com/mapsdevsite/json/DP05_0017E">Median age</option>
        <option value="https://storage.googleapis.com/mapsdevsite/json/DP05_0001E">Total population</option>
        <option value="https://storage.googleapis.com/mapsdevsite/json/DP02_0016E">Average family size</option>
        <option value="https://storage.googleapis.com/mapsdevsite/json/DP03_0088E">Per-capita income</option>
      </select>
    </div>
    <div id="legend">
      <div id="census-min">min</div>
      <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
      <div id="census-max">max</div>
    </div>
  </div>
  <div id="data-box" class="nicebox">
    <label id="data-label" for="data-value"></label>
    <span id="data-value"></span>
  </div>
  <div id='map'></div>

  {% load static %}
  <script src="{% static "frontend/main.js" %}"></script>
  <script src="{% static "frontend/javascript/map.js" %}"></script>
  <script src="{% static "frontend/javascript/melbourne.js" %}"></script>
  <script src="{% static "frontend/javascript/vic_geo.js" %}"></script>
  <script src="{% static "frontend/javascript/maps_google_map_style.js" %}"></script>
  <script src="{% static "frontend/javascript/map_style.js" %}"></script>
  <script src="{% static "frontend/javascript/city_coordinates.js" %}"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlIvCw8l_EHI3YDXdgdC2jkvhNEivXQ10&callback=initMap&language=en&region=au"
    async defer></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
</body>
{% endblock %}