{% block main %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'frontend/css/map_page.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/menu.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="{% static "frontend/javascript/jquery-3.5.1.js" %}"></script>
</head>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col-3 modal-title" id="exampleModalLabel"></div>
            <div class="col" >
              Average Income: <br><span class="badge badge-primary" id="Average Income:"></span>
            </div>
            <div class="col" >
              Postgraduate Percentage:<br> <span class="badge badge-primary" id="Postgraduate Percentage: "></span>
            </div>
          </div>
          <div class="row">
            <div class="col-3"></div>
            <div class="col" >
              Migration Percentage: <br><span class="badge badge-primary" id="Migration Percentage: "></span>
            </div>
            <div class="col">
              Migration Number:<br> <span class="badge badge-primary" id="Migration Number: "></span>
            </div>
          </div>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="chart"></div>
      </div>
    </div>
  </div>
</div>


    <div id="controls" class="nicebox">
  <div id="legend">
    <div id="census-min">min</div>
    <div class="color-key"><span id="data-caret">&#x25c6;</span></div>
    <div id="census-max">max</div>
  </div>
</div>
<div id="data-box" class="nicebox">
  <label id="data-label" for="data-value"></label>
  <span id="data-value"></span>
</div>



<div class="container-fluid">
  <div class="row">

    <div class="col-2 offset-9 btn-group-vertical"  id="dropdown">
    <button class="vertical btn btn-secondary btn-lg" type="button"  value="tweet_counts">Tweet Counts</button>
    <button class="vertical btn btn-secondary btn-lg" type="button"  value="average_income">Average Income</button>
    <button class="vertical btn btn-secondary btn-lg" type="button"  value="postgraduate_percentage">Postgraduate Percentage</button>
    <button class="vertical btn btn-secondary btn-lg" type="button"  value="migration_percentage">Migration Percentage</button>
    <button class="vertical btn btn-secondary btn-lg" type="button"  value="migration_number">Migration Number</button>
</div>
<div>
  <a href="/" role="button" id="back" class="btn btn-secondary btn-lg">Back</a>
</div>
  </div>
</div>

{% comment %} <div class="embed-responsive embed-responsive-4by3">
<div id="map-container" class="embed-responsive-item"> {% endcomment %}




<div id='map'></div>
{% comment %} </div> 
</div> {% endcomment %}


{% load static %}
<script src="{% static "frontend/javascript/city_coordinates.js" %}"></script>
<script src="{% static "frontend/main.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static "frontend/javascript/map.js" %}"></script>
<script src="{% static "frontend/javascript/melbourne.js" %}"></script>
<script src="{% static "frontend/javascript/vic_geo.js" %}"></script>
<script src="{% static "frontend/javascript/maps_google_map_style.js" %}"></script>
<script src="{% static "frontend/javascript/map_style.js" %}"></script>
<script src="{% static "frontend/javascript/modal.js" %}"></script>
<script src="{% static "frontend/javascript/apex_charts.js" %}"></script>
<script src="{% static "frontend/javascript/mouse.js" %}"></script>
<script src="{% static "frontend/javascript/info_window.js" %}"></script>
<script src="{% static "frontend/javascript/input.js" %}"></script>

{% for collection in queryset %}
    <script> 
      {% comment %} var date = "{{ collection.date|escapejs }}";
      var tweet_counts = "{{ collection.tweetcounts|escapejs }}";
      
      var city  = "{{ collection.city|escapejs }}";
      var average_income = "{{ collection.city.average_income|escapejs }}";
      //var education_level = "{{ collection.city.education_level|escapejs }}";
      var postgraduate_percentage = "{{ collection.city.postgraduate_percentage|escapejs }}";
      var migration_percentage = "{{ collection.city.migration_percentage|escapejs }}";
      var migration_number = "{{ collection.city.migration_number|escapejs }}";


      var approval_rate = "{{ collection.approval_rate|escapejs }}";
      var city_name = "{{ collection.cityname|escapejs }}";

      for (var i = 0; i < percent_array.length; i++){
        if (city_name == city_names[i]){
          var percent = Math.round(parseFloat(approval_rate) * 100).toString(10);
          percent_array[i] = percent;
        }
      } {% endcomment %}

      var approval_rate = "{{ collection.approval_rate|escapejs }}";
      var city_name = "{{ collection.cityname|escapejs }}";
      var tweet_counts  = "{{ collection.tweetcounts|escapejs }}";

      for (let item of city_info) {
        if (item.name == city_name && item.flag == "0") {
          item.percent =  Math.round(parseFloat(approval_rate) * 100).toString(10);
          item.average_income = "{{ collection.city.average_income|escapejs }}";
          item.postgraduate_percentage = "{{ collection.city.postgraduate_percentage|escapejs }}";
          item.migration_percentage = "{{ collection.city.migration_percentage|escapejs }}";
          item.migration_number = "{{ collection.city.migration_number|escapejs }}";
          item.flag = "1";
          console.log(city_info);
        }

        {% comment %} if (item.name == city_name) {
          item.percent =  Math.round(parseFloat(approval_rate) * 100).toString(10);
          item.tweet_counts = (parseInt(item.tweet_counts) + parseInt(tweet_counts)).toString(10); 
          var date = formatCourseDate("{{ collection.date|escapejs }}");
          approval_rate_matrix[parseInt(item.city_id)].push({x: date, y: Number(Math.round(parseFloat(approval_rate) * 100))});
          //console.log(approval_rate_matrix);

        } {% endcomment %}

        if (item.name == city_name) {
          
          if (week_day[parseInt(item.city_id)] == 7) {
            
            item.percent =  Math.round(parseFloat(approval_rate) * 100).toString(10);
            item.tweet_counts = (parseInt(item.tweet_counts) + parseInt(tweet_counts)).toString(10); 
            var date = formatCourseDate("{{ collection.date|escapejs }}");
            approval_rate_matrix[parseInt(item.city_id)].push({x: date, y: Number(Math.round(weekly_total[parseInt(item.city_id)] / 7))});

            week_day[parseInt(item.city_id)] = 0; 
            weekly_total[parseInt(item.city_id)] = 0; 
            //console.log(approval_rate_matrix);
          } else {
            week_day[parseInt(item.city_id)] += 1; 
            weekly_total[parseInt(item.city_id)] += Math.round(parseFloat(approval_rate) * 100);
          }
        }
      }
      

      {% comment %} console.log(date);
      console.log(tweet_counts);
      console.log(approval_rate);
      console.log(city_name);
      console.log(average_income);
      //console.log(education_level);
      console.log(postgraduate_percentage);
      console.log(migration_percentage);
      console.log(migration_number);
      console.log("=======\n");
      //console.log(collection.city.average_income); {% endcomment %}

    </script>
{% endfor%}
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlIvCw8l_EHI3YDXdgdC2jkvhNEivXQ10&callback=initMap&language=en&region=au"
  async defer></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
  integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
  integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
{% endblock %}